.page-two {
  min-height: 900px;

  .section {
    margin-bottom: 150px;
    padding-top: 50px;
    padding-bottom: 50px;

    @include respond-below(md) {
      margin-bottom: 100px;
      padding-top: 60px;
    }

    &.home {
      margin-top: -$navbar-height;
      margin-bottom: 0;
    }
  }

  .thume-element {
    .card {
      border: $border-radius;
      box-shadow: none;
      background: $foreground-color;
      height: 200px;
      width: 100%;

      display: inline-block;
      overflow: hidden;

      background-color: rgb(223, 240, 240);

      .card-img-top {
        height: 120px !important;
        width: 100%;
      }

      .card-body {
        display: flex;
        flex-direction: column;
        padding: 0.75rem !important;
        justify-content: center;
        align-items: center;
        text-align: center;

        .pt-title {
          display: inline-flex;
          margin-top: 10px;
          margin-bottom: 10px;

          font-size: 20px;
          text-align: center;
          justify-content: center !important;
          align-items: center !important;
          background-color: transparent !important;
          color: $theme-color-1 !important;
        }
      }
    }
  }
}
