.noUi-connect {
  background: $theme-color-1;
}

.noUi-connects {
  border-radius: $border-radius;
}

.noUi-handle:after,
.noUi-handle:before {
  content: "";
  display: none;
}

.noUi-handle {
  outline: initial;
  box-shadow: initial !important;
}

.noUi-horizontal {
  height: 8px;
}

.noUi-horizontal .noUi-handle {
  width: 16px;
  height: 16px;
  border-radius: 20px;
  top: -6px;
  right: -13px;
  border-color: $separator-color;
  background: $foreground-color;
}

.noUi-horizontal .noUi-tooltip {
  top: 120%;
  bottom: unset;
  padding-left: 10px;
  padding-right: 10px;
}