<div class="section header">

    <div class="row main-row">

        <div class="container" [ngClass]="routeAnimationsElements">

            <div class="col-12 offset-0 col-lg-10 offset-lg-1 text-center">
                <h1 class="text-black">APIMeme Web proprietary AI</h1>
            </div>

            <div class="col-12 offset-0 col-lg-10 offset-lg-1">
                <p class="text-black">
                    Technology changes and smart investors change with it. APIMeme has developed a superior machine
                    learning tool (ML) that is easy to use. APIMeme ML © combines our financial market expertise
                    with
                    our proprietary "bleeding-edge" artificial intelligence algorithms.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="content-row">

    <div class="container" [ngClass]="routeAnimationsElements">


        <div class="col-12 offset-0 col-lg-10 offset-lg-1">

            <div class="row">

                <div class="col-12 col-xl-8 col-lg-7 col-md-6">

                </div>
            </div>

            <p class="text-black">
                A small, high-powered fintech team founded APIMeme in 2020, and with their combined business,
                technical and entrepreneurial skills, they set out to build a simple but elegant intelligent and
                automated trading platform (APIMeme ML ©).
                <br>
                <br>
                The premise behind the APIMeme initiative is simple.
                <br>

                Investors want to make money without having to worry and agonize over every aspect of a trade.
                <br>
                Our goal was to build a superior automated trading platform that works.
                <br>
                APIMeme is dedicated to advancements that help investors achieve a better future with their
                investment strategies and gives investors user-friendly access to the financial markets.
                <br>
               
            </p>
            
            <p class="text-black">
               
                The investment industry is known for being slow to adopt new technology.
                <br>
                But technology continues to advance, and the investment management field will have to adapt.
                <br>
                The use of machine learning techniques will become a standard aspect of investment management.
                <br>
                The CFA Institute's recent report on artificial intelligence and machine learning offers this
                glimpse of the future: "AI and Big
                Data have the potential to bring about the most significant change in the investment management
                industry
                that today's professionals will see in their careers."
                <br>
                With APIMeme, AI and ML are now not just for the "professionals"!

                <br>
                <br>
                Investors today are struggling to keep up with the rapid pace at which everything around them is
                changing. Rest assured that APIMeme has "your back" when it comes to being current, relevant,
                and ahead of the competition.
            </p>
        </div>
    </div>

</div>
